
@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "- Confirm email";
}

<h2>Confirm email</h2>
<div>
    <p>
        Thank you for confirming your email. You can now <a asp-page="/Account/Login">login</a>.
    </p>
</div>