@page
@model ContactModel
@{
    ViewData["Title"] = "- Contact";
}
<h2>Contact</h2>
<h3>@Model.Message</h3>

<address>
    One Sephiroth Way<br />
    Walton, KY 41094-0095<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>HR:</strong> <a href="mailto:sephiroth.hr@example.com">sephiroth.hr@example.com</a><br />
    <strong>Management:</strong> <a href="mailto:management@example.com">sephiroth.management@example.com</a>
</address>
