@page
@model ContactModel
@{
    ViewData["Title"] = "- Contact";
}
<h2 style="margin-top:50px;">Contact</h2>
<hr/>

<address>
    One Sephiroth Way<br />
    Midgar, Gaia<br />
</address>

<address>
    <strong>HR:</strong> <a href="mailto:sephiroth@sephiroth.com">sephiroth@sephiroth.com</a><br />
    <strong>Management:</strong> <a href="mailto:sephiroth@sephiroth.com">sephiroth@sephiroth.com</a>
</address>
